body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15%;
    background:#012a3a;
    display: grid;
    color: white;
    min-width: 600px;
    min-height: 600px
    
}
.container{
    width: 600px;
    box-sizing: border-box;
    height: 400px;
    background: #01354971;
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.header{
    grid-row: 1/2
}
.subheader{
    grid-column: span 2;
    grid-row: 2/3;
    color:#68d295;
}
.paragraph{
    grid-column: span 2;
    grid-row: 3/4;
}
button{
    margin: 25px 0;
    grid-row: 4/5;
    grid-column: 1/2;
    background: #68d295;
    width: 200px;
    height: 40px;
    color: white;
    border:none;
    border-radius: 10px;
}
button:hover{
    opacity:0.6;
    border: solid 2px #003d57;
}

hr{
    height: 1px;
    background-color: #003d57;
    grid-column: span 2;
    width: 100%;
    opacity: 0.1;
    margin: 25px 0;
}

.password-container{
    grid-column: span 2;
    margin: 25px 0 ;
}
.password-container > :nth-child(1){  
    background: #003d57;
    padding: 10px;
    text-align: center;
    color: #68d295;
    border-radius: 10px;
    margin: 5px;
}

.password-container > :nth-child(2){
    background: #003d57;
    padding: 10px;
    width: 40px ;
    height: 20px;
    text-align: center;
    color: #68d295;
    border-radius: 10px;  
    margin: 5px;
}

.password-container > p{
    color: rgb(252, 252, 252);
    grid-column: 1/-1;
    margin: 15px 5px;
    opacity: 0.6;
}